
/***********************************************/
/* design navbar                               */
/***********************************************/
.navbar-custom {
    background-color: var(--primary-color) !important;
  }
  
  #nav {
    background-color: #ffffff;
    box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.3);
  
  }
  
  #nav ul li:hover {
      background-color: rgba(255, 255, 255, 0.05);
      transition: 0.33s;
      border-radius: 10px;
      transform: translateY(-1px);
      box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  }
  
  #nav ul li:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 1px;
    content: "";
    display: block;
    height: 3px;
    right: 50%;
    position: absolute;
    background: red;
    transition: width 0.3s ease 0s, right 0.3s ease 0s;
    width: 0;
    border-radius: 20px;
  }
  
  .navbar-dark .navbar-nav .nav-link{
    color: white;
  }

  .navbar-dark .navbar-nav .nav-link:hover{
    color: white;
  }
  
  /* max-height von images im Brand-Bereich*/
  .navbar-brand>img {
    max-height: 30px;
    width: auto;
    display: inline-block;
  }

  .nav-item:hover{
    cursor: pointer;
  }
  
  /* Sign in */
  .btn.btn-primary.dropdown-toggle.signIn{
    background-color: rgba(0,0,0,0);
    border: none;
    border-radius: 10px;
    display: inline-block;
    color: white;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 8px;
    margin: 0px;
    text-decoration: none;
    outline: none;
    box-shadow: none;
    transition: none;
  }

.btn.btn-primary.dropdown-toggle.signIn:hover{
  background-color: rgba(0,0,0,0);
  box-shadow: none;
  transform: none;
  color: white;
}

.nav-item svg{
  margin-left: 5px;
}

.dropdown-menu.p-4{
  min-width: 15rem;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #ec988e;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(253, 17, 13, 0.25);
}

.form-check-input:checked {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.form-check-input:focus {
  border-color: #ec988e;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(253, 17, 13, 0.25);
}

.btn.btn-primary.signIn:hover{
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn.btn-primary.signIn:focus{
  border-color: #ec988e;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(253, 17, 13, 0.25);
}