/*****************************/
/* Global styles             */
/*****************************/
:root {
  --primary-color: #a51c30;
  --secondary-color: #656f77;
  --light-grey: #d5d5d5;
  --darker-grey: #a6a6a6;
  /*--primary-btn-color: rgb(247, 136, 47, 80%);*/
  /*--footer-color: #2364aab8;*/
  --dark-color: #0e0e0e;
}

html,
body {
  height: 100vh;
  width: 100%;

}

.spaceToBottom {
  height: 120px;
}

header {
  display: block;
}

main {
  min-height: calc(100vh - 200px);
  /*body-footer*/
}

#background {
  background-color: var(--background-color);
}

/***********************************************/
/* design navbar                               */
/***********************************************/
.navbar-custom {
  background-color: var(--primary-color) !important;
}

#nav {
  background-color: #ffffff;
  box-shadow: 0 4px 15px -2px rgba(0, 0, 0, 0.3);

}

#nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.33s;
    border-radius: 10px;
    transform: translateY(-1px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

#nav ul li:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 1px;
  content: "";
  display: block;
  height: 3px;
  right: 50%;
  position: absolute;
  background: red;
  transition: width 0.3s ease 0s, right 0.3s ease 0s;
  width: 0;
  border-radius: 20px;
}


/* max-height von images im Brand-Bereich*/
.navbar-brand>img {
  max-height: 30px;
  width: auto;
  display: inline-block;
}

/* userpicture */
li img{
  max-width: 30px;
  border-radius: 100%;
}


/***********************************************/
/* design sidebar und content area             */
/***********************************************/

hr {
  border-top: 1px solid grey;
  max-width: 90%;
  margin: 0 auto;
  padding: 0;
}

section h1 {
  font-size: 38px;
  line-height: 1.25;
  color: var(--secondary-color);
  font-weight: 400;
  word-wrap: initial;
  word-spacing: 0;
  text-align: center;
  margin-bottom: 2rem;
}

section p {
  text-align: justify;
}

section {
  margin-top: 5rem;
  margin-bottom: 4rem;
}

/* end sidebar nav */


/*****************************/
/* carousel                  */
/*****************************/
.carousel {
  margin-bottom: 4rem;
}

.carousel-item {
  height: 100vh;
}

.carousel-item>img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  /*min-width: 100%;*/
  min-height: 100%;
}

.btn-home {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 100%;
  cursor: pointer;
  color: white;
  padding: 5px;
  text-decoration: none;
  outline: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
}

.btn-home:hover {
  background-color: white;
  color: var(--dark-color);
}

.btn:hover {
  box-shadow: 0px 12px 17px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

.btn {
  background-color: var(--secondary-color);
  border: none;
  border-radius: 45px;
  border: 1px solid var(--secondary-color);
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 15px;
  padding: 5px 20px;
  margin-top: 10px;
  text-decoration: none;
  outline: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
}

.btn:hover {
  box-shadow: 0px 12px 17px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

#editImg:hover {
  cursor: pointer;
}

.secon {
  color: var(white);
  font-size: 290%;
}

.carousel-caption {
  text-align: center;
  align-items: center;
  top: 20%;
  bottom: 10%;
}

.carousel-caption>h1 {
  text-align: center;
  align-items: center;
  bottom: 10%;
}

.minimal {
  color: rgb(255, 255, 255);
  font-size: 150%;
}

.text-shadow {
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);

}

/* Außenabstand nacc unten: 64px */

/*****************************/
/* design homepage           */
/*****************************/
.form-action-button {
  margin: 10px;
}

#impressum-generator {
  font-size: 100%;
  color: var(--light-grey);
}

#impressum-generator>a {
  font-size: 100%;
  text-decoration: none;
  color: var(--light-grey);
}

.card-img-top {
  border-radius: 10px 10px 0px 0px;
  max-height: 200px;
}

.card.h-100{
  border-radius: 10px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  box-shadow: lightgrey 0px 8px 24px -2px;
}

.img-fluid {
  max-height: 270px;
  height: auto;
  
}

/*****************************/
/* Design Bootstrap Elemente */
/*****************************/
/* Bootstrap Buttons */

/*****************************/
/*footer                     */
/*****************************/
.footerlink {
  text-decoration: none;
  color: white;
}

footer {
  display: block;
  background-color: rgb(31, 31, 31);
  bottom: 0px;
  height: 112px;
}

.footercontent {
  text-decoration: none;
}

/*************************/
/* media queries         */
/*************************/


/*************************/
/* overview              */
/*************************/


input[type=text] {
  border: none;
  border-bottom: 1px solid black;
}

.submit-button {
  border-radius: 45px;
  background-color: var(--dark-color);
  border: 1px solid var(--dark-color);
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 15px;
  padding: 5px 20px;
  margin-top: 10px;
  text-decoration: none;
  outline: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
}

.submit-button.edit-btn {
  border-radius: 45px;
  background-color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  display: inline-block;
  cursor: pointer;
  color: white;
  font-size: 15px;
  padding: 5px 5px;
  margin-top: 2px;
  margin-right: 10px;
  text-decoration: none;
  outline: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
}

.submit-button:hover {
  box-shadow: 0px 12px 17px rgba(0, 0, 0, 0.3);
  transform: translateY(-1px);
}

#editImg:hover {
  cursor: pointer;
}
.nav.nav-tabs.text-center{
  
  display: block;
}

@media (max-width:1000px) {
  .nav.nav-tabs.text-center{
    height: 100%;  
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .form_eintraege{
    height: 100%;  
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
select{
  min-width: 180px;
}

select {
  border-radius: 10px;
  padding: 3px;
  box-shadow: rgb(0 0 0 / 20%) 0px 15px 20px;
  background-color: #212529;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.col{
  margin: 10px;
  text-align: center;
  min-width: 200px;
}
label{
  text-align: left;
}
select{
  color: white;
  display: block;
}

label{
  color: var(--dark-color);
  display: block;
}

input, label {
  display: block;
}

nav.nav-tabs.text-center{
  width: 100%;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: white;
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
  display: flex;
  min-width: 200px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease 0s;
  border-radius: 10px;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: var(--light-grey);
}

.nav-link {
  display: flex;
  flex-direction: row;
  padding: .5rem 1rem;
  color: #000000;
  text-decoration: none;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  border-color: rgb(0 0 0 / 0%);
  isolation: isolate;
}

.nav-link:hover {
  color: var(--secondary-color);
  cursor: pointer;
  transform: translateY(-2px);
}

.col {
  flex: 1 0 0%;
}

.row.input {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * .5);
  padding-left: calc(var(--bs-gutter-x) * .5);
  margin-top: var(--bs-gutter-y);
}

#tableStudiengang {
  margin-bottom: 20px;
}

/*************************/
/* dashboard             */
/*************************/

@media(max-width:1300px) {
  .item-1 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .item-2 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .item-3 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .item-4 {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  .item-5 {
    grid-column-start: 1;
    grid-column-end: 4;
  }
}

.container-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  column-gap: 20px;
  row-gap: 20px;
}

.item {
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--secondary-color);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

@media(min-width: 1300px) {
  .item-2 {
    grid-column-start: 2;
    grid-column-end: 4;
  }
}

/*TEST Anna*/
 /*
.sidebar {  
  padding: 1rem!important;  
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--secondary-color);
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  margin-top: 90px;
  margin-bottom: 30px;
}

sidebar-list{
  display: flex;
  flex-direction: column; 
}

.nav-link {
  display: block;
  padding: .5rem 1rem;
  color: var(--primary-color);
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-pills .nav-link {
  color: var(--primary-color)
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: var(--light-grey)!important;
  background-color: var(--primary-color)!important;
}

.sidebar-icon {
  color: rgb(201, 32, 139);
  font-size: 1rem;
}

nav a {
  color: white !important;
}

.sidebar a {
  display: block;
  color: black;  
  text-decoration: none;
  background-color: white;
}
 
.sidebar a.active {
  color: var(--light-grey)!important;
  background-color: var(--primary-color)!important;
  
}

.sidebar a:hover:not(.active) {
  color: var(--light-grey)!important;
  background-color: var(--primary-color)!important;
}

.wrapper {
  height: 90%;   
  display: flex;
  flex-direction: row;
}

#content {
  width: 100% !important;
  margin-top: 90px;
  margin-bottom: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  color: var(--secondary-color);
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  
}

.content-section {
    padding-top: 7.14286rem !important;
    padding-bottom: 7.14286rem !important;
}
.g-py-50 {
  padding-top: 3.5rem !important;
  padding-bottom: 3.5rem !important;
}
.custom-text {
    color:var(--secondary-color);
    font-weight: bold;
  }
  
  .custom-heading {
    color:var(--secondary-color);
    font-weight: bolder;
  }
  .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    color: var(--primary-color)
  }
  .custom-divider {
    margin: 5rem 0;
  }  

  .sidebar-list{
    display: flex;
    flex-direction: column;
  } 

  .max-margin-bottom{
    margin-bottom: auto!important;
  }

  aside{
    margin: 30px;
  }

.btc:\Users\aipsk\AppData\Local\Programs\Microsoft VS Code\resources\app\out\vs\code\electron-sandbox\workbench\workbench.htmln-primary, .btn-primary:focus {
    color: white;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);    
    font-weight: bolder;
}
.btn-primary:hover {
    color: white;
    background-color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

@media (min-width: 992px) {
  .sidebar {
      width: 350px;
      min-width: 235px;
  }
  
}

@media (max-width: 576px) {   
  .settings{
    display: none;
  }  
 }
 
 */

 
/*************************/
/* selectbox             */
/*************************/

select:hover {
  transform: translateY(-2px);
}

select option {
  background-color: #e0e0e0;
}
