/*****************************/
/* Global styles             */
/*****************************/
/*test2*/
:root {
    --primary-color: #6B7A8F;
    --secondary-color:#F7882F;
    --secondary-hover-color: rgb(206, 147, 216, 1);
    --tertiary-color: #DCC7AA;
    --light-grey: rgb(241,243,243);
    --darker-grey:rgb(212,218,218);
    --primary-btn-color: rgb(247, 136, 47, 80%);
}

html,
body {
   
  height: 100vh;
  width: 100vw;  
 
} 


/***********************************************/
/* design navbar                               */
/***********************************************/
.navbar-custom{
  background-color: var(--primary-color) !important;
}

#nav{
    background-color: #ffffff;
    box-shadow: 0 4px 15px -2px gray;

}

#nav ul li:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transition: 0.33s;
    border-radius: 10px;
    transform: translateY(-2px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
}

#nav ul li:after {
    background: none repeat scroll 0 0 transparent;
    bottom: 1px;
    content: "";
    display: block;
    height: 3px;
    right: 50%;
    position: absolute;
    background: red;
    transition: width 0.3s ease 0s, right 0.3s ease 0s;
    width: 0;
    border-radius: 20px;
}


/* max-height von images im Brand-Bereich*/
.navbar-brand > img {
    max-height: 30px;
    width:auto;
    display: inline-block;
}


/***********************************************/
/* design sidebar und content area             */
/***********************************************/


hr {
    border-top: 1px solid grey;
    max-width: 90%;
    margin: 0 auto;
    padding: 0;
}

section h1 {
    font-size: 38px;
    line-height: 1.25;
    color: var(--secondary-color);
    font-weight: 400;
    word-wrap: initial;
    word-spacing: 0;
    text-align: center;
    margin-bottom: 2rem;
}

section p{
    text-align: justify;
}

section{
    margin-top: 5rem;
    margin-bottom: 4rem;
}

/* end sidebar nav */




/*****************************/
/* carousel                  */
/*****************************/
.carousel{
  margin-bottom: 4rem;
}
.carousel-item{
  height: 100vh;
}
.carousel-item > img{
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
}
.btn{
  background-color: var(--primary-btn-color);
}
.secon{
  color:var(--secondary-color);
}
.carousel-caption{
  text-align: center;
  align-items:center;

  
}
.minimal{
  color: black;
}

.text-shadow{
    text-shadow: 3px 3px 8px #000000;;

}

/* Außenabstand nacc unten: 64px */

/*****************************/
/* design homepage           */
/*****************************/
.form-action-button{
    margin: 10px;
}

/*****************************/
/* Design Bootstrap Elemente */
/*****************************/
/* Bootstrap Buttons */

/*****************************/
/*footer                     */
/*****************************/
.footerlink{
  text-decoration: none;
  color: rgb(241, 243, 243);
}
footer{
  background-color: var(--secondary-color);
}
.footercontent{
  text-decoration: none;
  color: rgb(212, 218, 218);
}
/*************************/
/* media queries         */
/*************************/


/*************************/
/* overview              */
/*************************/


input[type=text] {
    border: none;
    border-bottom: 1px solid black;
}

.submit-button {
   /*background-color: transparent;*/
    border-radius: 45px;
    /*border: 1px solid #dcdcdc;*/
    border: 1px solid var(--primary-color);
    display: inline-block;
    cursor: pointer;
    color: #000000;
    font-size: 15px;
    padding: 5px 20px;
    margin-top: 10px;
    text-decoration: none;
    outline: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease 0s;
}

.submit-button:hover {
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-4px);
}

#editImg:hover{
  cursor: pointer;
}

/*************************/
/* dashboard             */
/*************************/

#black{
    background-color: #e1e7ec;
}

.container-2{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    column-gap: 20px;
    row-gap: 20px;
}

.item{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.2);
}

.item-2 {
    grid-column-start: 2;
    grid-column-end: 4;
}


